# File-based project format
*.iws

# IDE
out/
.idea/*
.vscode
xcode/*

# Debug files
cmake-build-debug/CMakeFiles
cmake-build-debug/ChessCPP
cmake-build-debug/ChessCPP.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/Project.cbp
psd/*
build/*

cmake-build-release/*

#CMakeFiles
CMakeLists.txt

# Prerequisites
*.d
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/CPackConfig.cmake
/cmake-build-debug/CPackSourceConfig.cmake
/resources/
cmake-build-debug/ChessCPP 2
